#### 1. Write a Python program to print "Hello Python"?

In [2]:
print("Hello Python")

Hello Python

#### 2.Write a Python program to do arithmetical operations addition and division.?

In [8]:
a=8
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)

12
4
32
2.0
2

#### 3.Write a Python program to find the area of a triangle?

In [10]:
base=6
height=8
area=0.5*base*height
print("Area of triangle", area)

#### 4.Write a Python program to swap two variables?

In [12]:
a=6
b=5
a,b=b,a
print(a,b)
#method2
a=23
b=34
temp=a
a=b
b=temp
print(a,b)

5 6
34 23

#### 5.Write a Python program to generate a random number?

In [13]:
from random import randint
print(randint(1,200000000))

133496728

In [20]:
import random
num=random.randint(1,500)
print("Random number:", num)

Random number: 291

In [21]:
# Random item from a list using random.choice
import random
items=["apple", "banana", "cherry", "prasanna", "mallika"]
choice=random.choice(items)
print("Random item:", choice)

Random item: apple

In [16]:
#multiple random items from a list using random.sample()
import random
items=["apple", "banana", "cherry", "prasanna", "mallika"]
choice=random.sample(items,2)
print("Random item:", choice)

Random item: ['prasanna', 'mallika']

In [18]:
#shuffling a list randomly using random.shuffle()
import random
items=["apple", "banana", "cherry", "prasanna", "mallika"]
print("original list:", items)
random.shuffle(items)
print("Shuffled list:", items)

original list: ['apple', 'banana', 'cherry', 'prasanna', 'mallika']
Shuffled list: ['prasanna', 'banana', 'apple', 'mallika', 'cherry']

#### 6.write a python program to print whether the number is positive or negative ?

In [27]:
num = 5
if num > 0:
    print('Positive')
elif num < 0:
    print('Negative')
else:
    print('Zero')

#method 2 using ternary operator
num =-1
print("Positive" if num>=0 else "Negative")

Positive
Negative

#### 7.write a python program to print even or odd number?

In [33]:
num=int(input("Enter a number"))
if num%2==0:
    print(" It is a even number")
else:
    print(" It is an odd number")
#method 2
num=2
print("Even") if num%2 == 0 else print("Odd")

Enter a number 6

 It is a even number
Even

#### 8.Write a python program to find greatest of two numbers?

In [37]:
a,b=60,25
if a>b:
    print(a)
else:
    print(b)
#method2 
num1, num2 = 250, 70
print(max(num1,num2))
#method 3
num1, num2 = 20 , 30
print(num1 if num1>num2 else num2)

60
250
30

#### 9. Write a python program to find greatest of three numbers?

In [39]:
num1, num2, num3 = 45 , 60 , 20
if num1 >= num2 and num1 >= num3:
  print(num1)
elif num2 >= num1 and num2 >= num3:
  print(num2)
else:
  print(num3)

60

#### 10. Write a python program to find sum of n natural numbers?

In [50]:
num =9
sum = int((num * (num + 1))/2)
print(sum)
#method2
num=20
sum=0
for i in range(num+1):
  sum+=i
print(sum)

45
210